Package: com.ps.ytweaks
Name: YTweaks
Version: 0.3.0
Architecture: iphoneos-arm
Description: Various tweaks for YouTube
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 11.0)
Depiction: https://poomsmart.github.io/repo/depictions/ytabconfig.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/ytabconfig.json
